# <center><span style="color: red"><u>Les listes</u></span>  </center>


# <span style="color: green"><u>1.Définition</u></span> 

Les listes font partie de ce qu'on appelle les *données composites* (nous verrons plus tard les *tuples* et les *dictionnaires*). Elles permettent de regrouper de manière structurée des ensembles de valeurs.
On les appelle *listes* en Python, ou bien *tableaux* de manière plus générale.


**Notation :** dans une liste, les éléments sont séparés par des **virgules**, et l'ensemble est délimité par des **crochets**.

In [ ]:
from metakernel import register_ipython_magics
register_ipython_magics()

In [ ]:
%%tutor
ma_premiere_liste = [1, "ok", True]

Même si cela n'a ici un grand intérêt, les éléments d'une liste peuvent donc être de types différents : ici, nous avons successivement un entier (`int`), une chaine de caractères (`str`), et un booléen (`bool`).

L'instruction suivante permet la construction d'une liste d'éléments identiques:

In [ ]:
p=[0]*12
print(p)

Cette instruction est très utile pour initialiser des listes de taille donnée.

### Exemple
le code ci-dessous compte l'occurence de chaque lettre de l'alphabet dans un texte.

In [ ]:
%%tutor
texte = "cet texte est prodigieusement ennuyeux"

def rang(lettre):
    return(ord(lettre)-97)

compt = [0]*26
for k in texte :
    if k != " " :
        compt[rang(k)] += 1

 # <span style="color: green"><u>2. Accès et modifications d'une liste</u></span> 
## <u> Accès aux éléments d'une liste </u>
 On accède à un élément d'une liste en mettant entre crochets l'indice de l'élémént (qui commence à **zéro**).

In [ ]:
famille = ["Bart", "Lisa", "Maggie"]

In [ ]:
famille[0]

Un indice qui dépasse la valeur  `longueur de la liste -1` provoquera une erreur `list index out of range`.

In [ ]:
famille[3]

Il est par contre possible d'utiliser des indices **négatifs** :

In [ ]:
famille[-1]

## <u> Modification des éléments d'une liste </u>
C'est une différence fondamentale avec une autre structure (les *tuples*) que nous verrons plus tard.

In [ ]:
famille[0] = "Milhouse"

In [ ]:
famille

On dit que les listes sont des objets **mutables**.

## <u> Ajout d'un élement à une liste : méthode **append()** </u>

In [ ]:
famille.append("Lisa")

In [ ]:
famille

La méthode `append()` rajoute donc un élément **à la fin** de la liste.

Très souvent, la méthode `append()` ci-dessus est utilisée à partir d'une liste vide `[]`, à laquelle on rajoute peu à peu des éléments.

###  Exemple
Filtrons la liste m ci-dessous pour n'en garder que les éléments supérieurs à 20.

In [ ]:
m = [45, 12, 15, 20, 18, 19, 23, 17, 12, 18]
p = []

for k in m :
    if k > 20:
        p.append(k)

## <u> Suppression d'un élément d'une liste ... </u>
### ... par la méthode remove() :

In [ ]:
famille.remove("Lisa")

In [ ]:
famille

La méthode `remove()` va supprimer le premier élément de la liste (ce qui est problématique s'il y en a plusieurs) qui correspond à l'élément passé en argument.

In [ ]:
maliste = [8, 4, 2, 4, 7]
maliste.remove(4)

In [ ]:
maliste

In [ ]:
maliste.remove(5)

### ...  par la fonction del() :
La fonction `del()` permet de supprimer un élément en donnant son indice.

In [ ]:
maliste = [8, 4, 2, 5, 7]
del maliste[3]

In [ ]:
maliste

 # <span style="color: green"><u>3. Longueur d'une liste</span> 

La longueur d'une liste sera donnée par la fonction `len()`

In [ ]:
len(famille)

Attention : le dernier élément de la liste a donc l'indice `len(liste)-1`

 # <span style="color: green"><u>4. Parcours des éléments d'une liste</span>

In [ ]:
for k in range(len(famille)):
    print(famille[k])

**Remarque :** nous avons déjà vu une méthode plus directe de parcours d'une liste :

for k in famille :  # <- beaucoup plus efficace !
    print(k)


# <span style="color: green"><u> 5) Tableaux à plusieurs dimensions : listes de listes </span> 

En python, une liste peut contenir d'autres  listes :

In [ ]:
a = [[3, 5, 2],
     [7, 1, 4], 
     [8, 6, 9]]

La liste `a` est composée de 3 éléments qui sont eux-même des listes de 3 éléments.
Une liste de listes est appélée tableau.

L'instruction pour accéder à la première liste ( position 0)  est la suivante:

In [ ]:
a[0]

Pour accéder au deusième élément de la première liste, l'instruction est la suivante:

In [ ]:
a[0][1]

Quelle est la commande qui permet l'accès au troisième élément de la troisième liste?

## <u> Exercice 1 : Écrire un programme Python qui permet de : </u>
    
définir une liste (nommée liste) contenant les nombres : 45 , 17 , 89 , 38 , 10 et 74 dans cet ordre ;

afficher la liste obtenue :

ajouter l’élément 12 à la liste ;

afficher le dernier élément en utilisant un indexage négatif ;

## <u>Exercice 2: </u>
Écrire une fonction liste_aléa(N) qui prend comme paramètre N la longueur d’une liste et retourne une  liste de N valeurs entières déterminées au hasard entre 1 et 100

In [ ]:
from random import randint

## <u> Exercice 3: la fonction len </u>
Écrire une fonction longeur(liste) qui prend comme paramètre une liste et retourne un entier de la taille de la liste.

## <u> Exercice 4 : Algorithme du maximum (à connaître)</u>
Compléter la fonction qui prend en paramètre une liste et qui doit renvoyer son maximum.
(les éléments de la liste peuvent se comparer)

In [ ]:
def Max_liste(liste):  
    Max = liste [0]  # on initialise le maximum au premier élément de la liste

## <u> Exercice 5: Rendre la monnaie (version liste) </u>
En utilisant la liste, liste_piece = [ 50 , 20 , 10 , 5 , 2 ,1 ], écrire une fonction prenant en paramètre un nombre entier ( prix) et qui retourne une liste de pièce à rendre (le nombre de pièces rendus doit être minimal).

In [ ]:
def rendu(prix):

## <u> Exercice 6: </u> 
Ecrire un programme qui demande à l'uilisateur de saisir une liste  10 entiers entre 0 et 100, puis à l'aide de parcours succesif de la liste effectuer les actions suivantes:
1. Afficher la liste
2. Additionner tous les éléments de la liste
3. obtenir le plus petit élément de la liste
4. Compter le nombre de nombre pair de la liste

## <u> Exercice 7: </u>
Trouvez le nombre qui est exactement à la même place dans la liste `a` et dans la liste `b` (les deux listes ont la même taille)

In [ ]:
a = [8468, 4560, 3941, 3328, 7, 9910, 9208, 8400, 6502, 1076, 5921, 6720, 948, 9561, 7391, 7745, 9007, 9707, 4370, 9636, 5265, 2638, 8919, 7814, 5142, 1060, 6971, 4065, 4629, 4490, 2480, 9180, 5623, 6600, 1764, 9846, 7605, 8271, 4681, 2818, 832, 5280, 3170, 8965, 4332, 3198, 9454, 2025, 2373, 4067]
b = [9093, 2559, 9664, 8075, 4525, 5847, 67, 8932, 5049, 5241, 5886, 1393, 9413, 8872, 2560, 4636, 9004, 7586, 1461, 350, 2627, 2187, 7778, 8933, 351, 7097, 356, 4110, 1393, 4864, 1088, 3904, 5623, 8040, 7273, 1114, 4394, 4108, 7123, 8001, 5715, 7215, 7460, 5829, 9513, 1256, 4052, 1585, 1608, 3941]

## <u> Exerice 8:Utilsation d'un tableau </u>

Le tableau suivant contient dans chaque liste:
- un nom de pays
- le nombre de cas covid confirmé au 12/12/20
- le nombre de décès lié au covid 
- le nombre de personnes rétablient du covid
- le nombre de mort par million d'habitant

1) Déterminer le pays ayant le nombre de mort par  million d'habitant le plus important.

2) Déterminer le pays ayant le plus de décès lié au covid.

3) Déterminer  la somme du nombre de cas covid confirmé au 12/12/20

In [ ]:
donnees=[['  Afghanistan ', 51357, 2126, 39900, 61] ,
['  Afrique du Sud ', 968563, 25983, 822978, 436] ,
['  Albanie ', 54827, 1125, 30276, 372] ,
['  Algérie ', 97007, 2705, 64777, 65] ,
['  Allemagne ', 1614326, 29681, 1183996, 357] ,
['  Andorre ', 7699, 83, 7171, 1090] ,
['  Angola ', 17029, 395, 9918, 13] ,
['  Antigua-et-Barbuda ', 153, 5, 143, 49] ,
['  Arabie saoudite ', 361725, 6159, 352608, 187] ,
['  Argentine ', 1563848, 42314, 1384262, 942] ,
['  Arménie ', 156142, 2714, 136766, 926] ,
['  Australie ', 28238, 908, 25486, 37] ,
['  Autriche ', 347204, 5745, 315952, 652] ,
['  Azerbaïdjan ', 210061, 2380, 155886, 235] ,
['  Bahamas ', 7788, 169, 6166, 427] ,
['  Bahreïn ', 91070, 350, 88963, 234] ,
['  Bangladesh ', 506102, 7378, 446690, 45] ,
['  Barbade ', 236, 7, 218, 24] ,
['  Belgiqueg ', 632321, 18939, '', 1657] ,
['  Belize ', 10370, 226, 8933, 603] ,
['  Bénin ', 3167, 44, 3061, 4] ,
['  Bhoutan ', 541, 0, 442, 0] ,
['  Biélorussie ', 181113, 1358, 159437, 144] ,
['  Birmanie ', 119788, 2532, 99927, 47] ,
['  Bolivie ', 153121, 9076, 129387, 821] ,
['  Bosnie-Herzégovine ', 108298, 3878, 73896, 1106] ,
['  Botswana ', 11982, 38, 11147, 17] ,
['  Brésil ', 7424430, 190032, 6448740, 904] ,
['  Brunei ', 150, 3, 145, 7] ,
['  Bulgarie ', 196658, 7023, 107680, 1003] ,
['  Burkina Faso ', 5649, 77, 4018, 4] ,
['  Burundi ', 760, 2, 687, 0] ,
['  Cambodge ', 363, 0, 354, 0] ,
['  Cameroun ', 25849, 448, 23851, 19] ,
['  Canada ', 535212, 14719, 444063, 388] ,
['  Cap-Vert ', 11668, 112, 11311, 205] ,
['  Chili ', 593310, 16303, 563457, 903] ,
['  Chine ', 86899, 4634, 81950, 3] ,
['  Chypre ', 19316, 107, 2057, 94] ,
['  Colombie ', 1559766, 41454, 1417316, 845] ,
['  Comores ', 693, 7, 615, 8] ,
['  Corée du Sud ', 54770, 773, 38048, 15] ,
['  Costa Rica ', 162990, 2086, 128842, 425] ,
["  Côte d'Ivoire ", 21984, 133, 21573, 5] ,
['  Croatie ', 202319, 3464, 183532, 844] ,
['  Cuba ', 10500, 139, 9307, 12] ,
['  Danemarkh ', 146341, 1114, 102184, 195] ,
['  Djibouti ', 5789, 61, 5681, 64] ,
['  Dominique ', 96, 0, 87, 0] ,
['  Égypte ', 128993, 7260, 108474, 77] ,
['  Émirats arabes unis ', 198435, 647, 174479, 69] ,
['  Équateur ', 208010, 13977, 181618, 841] ,
['  Érythrée ', 877, 1, 599, 0] ,
['  Espagne ', 1854951, 49824, '', 1066] ,
['  Estonie ', 24009, 192, 15393, 145] ,
['  Eswatini ', 7868, 153, 6879, 136] ,
['  États-Unis', 18846059, 332283, 8280764, 1023] ,
['  Éthiopie ', 121399, 1872, 106845, 18] ,
['  Fidji ', 46, 2, 44, 2] ,
['  Finlande ', 34447, 524, 22500, 95] ,
['  Francec,d ', 2527509, 62268, 188639, 939] ,
['  Gabon ', 9469, 64, 9310, 32] ,
['  Gambie ', 3791, 123, 3659, 59] ,
['  Géorgie ', 216843, 2276, 194705, 612] ,
['  Ghana ', 54043, 333, 52777, 12] ,
['  Grèce ', 134235, 4457, '', 414] ,
['  Grenade ', 103, 0, 49, 0] ,
['  Guatemala ', 134894, 4749, 122965, 275] ,
['  Guinée ', 13630, 80, 13039, 6] ,
['  Guinée équatoriale ', 5236, 85, 5078, 67] ,
['  Guinée-Bissau ', 2447, 44, 2337, 24] ,
['  Guyana ', 6266, 162, 5478, 208] ,
['  Haïti ', 9771, 234, 8408, 21] ,
['  Honduras ', 118421, 3060, 55433, 330] ,
['  Hong Kong ', 8425, 135, 7203, 18] ,
['  Hongrie ', 311554, 8729, 120529, 893] ,
['  Îles Marshall ', 2, 0, 0, 0] ,
['  Îles Salomon ', 13, 0, 4, 0] ,
['  Inde ', 10123778, 146756, 9693173, 111] ,
['  Indonésie ', 700097, 20847, 570304, 77] ,
['  Irak ', 588803, 12744, 527341, 333] ,
['  Iran ', 1183182, 54308, 924685, 679] ,
['  Irlande ', 83073, 2192, 24000, 460] ,
['  Islande ', 5683, 28, 5506, 78] ,
['  Israël ', 389502, 3170, 354616, 349] ,
['  Italie ', 2009317, 70900, 1344785, 1175] ,
['  Jamaïque ', 12423, 290, 9416, 100] ,
['  Japon ', 206139, 3050, 174879, 24] ,
['  Jordanie ', 283690, 3681, 254496, 353] ,
['  Kazakhstan ', 149462, 2196, 135063, 120] ,
['  Kenya ', 95431, 1652, 76720, 34] ,
['  Kirghizistan ', 80025, 1340, 74177, 216] ,
['  Kosovo ', 49866, 1290, 38118, 685] ,
['  Koweït ', 149017, 926, 144898, 201] ,
['  Laos ', 41, 0, 37, 0] ,
['  Lesotho ', 2725, 51, 1466, 23] ,
['  Lettonie ', 33484, 479, 22523, 251] ,
['  Liban ', 165933, 1353, 116143, 222] ,
['  Libéria ', 1779, 83, 1406, 18] ,
['  Libye ', 97192, 1399, 67661, 209] ,
['  Liechtenstein ', 1920, 30, 1591, 791] ,
['  Lituanie ', 126581, 1205, 60946, 432] ,
['  Luxembourg ', 45471, 461, 37574, 736] ,
['  Macao ', 46, 0, 46, 0] ,
['  Macédoine du Nord ', 80407, 2375, 57434, 1144] ,
['  Madagascar ', 17633, 260, 17147, 10] ,
['  Malaisie ', 100318, 446, 81099, 14] ,
['  Malawi ', 6277, 187, 5676, 10] ,
['  Maldives ', 13537, 48, 12983, 110] ,
['  Mali ', 6441, 235, 3968, 13] ,
['  Malte ', 12062, 203, 10423, 436] ,
['  Maroc ', 425864, 7130, 388728, 198] ,
['  Maurice ', 527, 10, 496, 8] ,
['  Mauritanie ', 13118, 301, 9490, 68] ,
['  Mexique ', 1362564, 121172, 1015256, 928] ,
['  Moldavie ', 139435, 2848, 123924, 1116] ,
['  Monaco ', 573, 3, 497, 78] ,
['  Mongolie ', 1069, 0, 584, 0] ,
['  Monténégro ', 45423, 648, 35735, 1041] ,
['  Mozambique ', 18031, 156, 16015, 5] ,
['  Namibie ', 19984, 183, 16892, 72] ,
['  Népal ', 256592, 1808, 247400, 61] ,
['  Nicaragua ', 5938, 163, 4225, 26] ,
['  Niger ', 2933, 90, 1579, 4] ,
['  Nigeria ', 81963, 1242, 69651, 7] ,
['  Norvège ', 45809, 421, 37658, 78] ,
['  Nouvelle-Zélande ', 2116, 25, 1680, 5] ,
['  Oman ', 128290, 1491, 120441, 309] ,
['  Ouganda ', 32914, 245, 10821, 6] ,
['  Ouzbékistan ', 76315, 612, 73589, 18] ,
['  Pakistan ', 467222, 9753, 418958, 45] ,
['  Panama ', 223674, 3715, 180045, 906] ,
['  Papouasie-Nouvelle-Guinée ', 681, 7, 588, 1] ,
['  Paraguay ', 103329, 2154, 75509, 316] ,
['  Pays-Basf ', 732570, 10826, '', 639] ,
['  Pérou ', 1003982, 37317, 940040, 1270] ,
['  Philippines ', 465724, 9055, 430490, 90] ,
['  Pologne ', 1239998, 26752, 975876, 697] ,
['  Portugal ', 387636, 6413, 312533, 605] ,
['  Qatar ', 142605, 243, 140404, 92] ,
['  République centrafricaine ', 4948, 63, 1924, 14] ,
['  République démocratique du Congo ', 16281, 573, 13982, 7] ,
['  République dominicaine ', 163654, 2404, 126732, 231] ,
['  République du Congo ', 6571, 100, 4988, 19] ,
['  Roumanie ', 608561, 14912, 523829, 761] ,
['  Royaume-Unie ', 2188587, 69625, '', 1063] ,
['  Russie ', 2963688, 53096, 2370857, 362] ,
['  Rwanda ', 7598, 66, 6163, 5] ,
['  Sahara Occidental ', 28, 2, 26, 0] ,
['  Saint-Christophe-et-Niévès ', 30, 0, 24, 0] ,
['  Saint-Marin ', 2205, 56, 1846, 1677] ,
['  Saint-Vincent-et-les-Grenadines ', 98, 0, 81, 0] ,
['  Sainte-Lucie ', 303, 5, 263, 28] ,
['  Salvador ', 44619, 1283, 39989, 200] ,
['  Samoa ', 2, 0, 0, 0] ,
['  Sao Tomé-et-Principe ', 1012, 17, 960, 83] ,
['  Sénégal ', 18200, 381, 16742, 24] ,
['  Serbie ', 316344, 2882, '', 410] ,
['  Seychelles ', 202, 0, 184, 0] ,
['  Sierra Leone ', 2531, 76, 1866, 10] ,
['  Singapour ', 58495, 29, 58332, 5] ,
['  Slovaquie ', 161562, 1732, 114267, 321] ,
['  Slovénie ', 112021, 2479, '', 1199] ,
['  Somalie ', 4690, 127, 3605, 12] ,
['  Soudan ', 23316, 1468, 13524, 36] ,
['  Soudan du Sud ', 3181, 62, 2977, 5] ,
['  Sri Lanka ', 39231, 185, 30568, 9] ,
['  Suède ', 396048, 8279, '', 798] ,
['  Suisse ', 428197, 6534, 317600, 772] ,
['  Suriname ', 5810, 118, 5388, 209] ,
['  Syrie ', 10442, 630, 4885, 34] ,
['  Tadjikistan ', 13071, 89, 12536, 10] ,
['  Taïwan ', 780, 7, 640, 0] ,
['  Tchad ', 1938, 102, 1638, 7] ,
['  Tchéquie ', 660461, 10776, 552444, 1008] ,
['  Thaïlande ', 5910, 60, 4137, 1] ,
['  Timor oriental ', 30, 0, 30, 0] ,
['  Togo ', 3494, 68, 3131, 9] ,
['  Trinité-et-Tobago ', 7071, 125, 6495, 91] ,
['  Tunisie ', 125000, 4275, 97026, 370] ,
['  Turquie ', 2100712, 19115, 1935292, 233] ,
['  Ukraine ', 1012167, 17581, 646772, 413] ,
['  Uruguay ', 15457, 135, 10040, 39] ,
['  Vanuatu ', 1, 0, 1, 0] ,
['  Vatican ', 29, 0, 27, 0] ,
['  Venezuela ', 111024, 1002, 105249, 35] ,
['  Viêt Nam ', 1432, 35, 1281, 0] ,
['  Yémen ', 2436, 660, 1580, 23] ,
['  Zambie ', 19234, 381, 17969, 22] ,
['  Zimbabwe ', 12656, 330, 10259, 20] ,
]